.header {
	width:1000px;
	margin:0 auto;
	z-index:101;
	background:url(../../images/header.jpg) right 0 no-repeat;
}

.nav {
	z-index:100;
	background:url(../../images/slider-bg.png) 0 0 no-repeat;
	margin:17px 0px 0 0px;
	height:571px;
	overflow:hidden;
	padding:0px;
}

.topMargin {
	margin-top: 5px;
}