.header_section {
    background-color: #ffffff;
  }
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }

.top-nav {
  background-color: green;
  color: white;
  width: 100%;
}

.nav-item .nav-link {
  color: white;
}

.navbar-brand {
  color: white;
}

.user-management-buttons {
  color: white;
}

body {
  background-color: #000;
}