.topNav {
    background-color: green;
    color: white;
    width: 100%;
}

.navBarBrand {
    color: white;
    font-size: 1.25rem;
}

.navBarGroup {
    display: flex;
    margin-bottom: 0;
}

.navLink {
    color: white;
}

.userManagementButtons {
    color: white;
}